In [10]:
import pandas as pd

In [3]:
import os
import sys

In [7]:
sys.path.insert(0, os.path.dirname(os.getcwd()))
from cmds.twse import TWSE

### pd.read_csv on data_wo_header.csv

In [17]:
df = pd.read_csv('data_wo_header.csv', names=TWSE.DATA_FIELDS, index_col=TWSE.DATA_FIELDS[0:1], parse_dates=TWSE.DATA_FIELDS[0:1])
df.head()

,Volume,Value,Open,High,Low,Close,Change,Transaction
Date,,,,,,,,
2017-06-01,"2,221,692","170,334,430",76.50,76.90,76.50,76.90,0.40,782
2017-06-02,"3,540,934","273,287,776",77.30,77.30,77.05,77.20,0.30,733
2017-06-03,"2,052,295","158,709,516",77.25,77.40,77.25,77.40,0.20,541
2017-06-05,"3,281,752","254,540,406",77.35,78.00,77.25,78.00,0.60,849
2017-06-06,"1,203,007","93,684,346",77.95,77.95,77.70,77.95,-0.05,618

### pd.to_csv from data_w_header.csv to copy.csv

In [18]:
df = pd.read_csv('data_w_header.csv', index_col=['Date'], parse_dates=['Date'])
df.to_csv('copy.csv')
with open('copy.csv') as fh:
    print(fh.readline())
    print(fh.readline())
    print(fh.readline())

Date,Volume,Value,Open,High,Low,Close,Change,Transaction

2017-06-01,"2,221,692","170,334,430",76.5,76.9,76.5,76.9,0.4,782

2017-06-02,"3,540,934","273,287,776",77.3,77.3,77.05,77.2,0.3,733

### df.Index.duplicated on data_w_duplicated.csv

In [19]:
df = pd.read_csv('data_w_duplicated.csv', names=TWSE.DATA_FIELDS, index_col=TWSE.DATA_FIELDS[0:1], parse_dates=TWSE.DATA_FIELDS[0:1])
df.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False,  True, False,  True, False,  True, False], dtype=bool)

### df.drop_duplicates on data_w_duplicated.csv and save as data_drop_duplicated.csv

In [28]:
df = pd.read_csv('data_w_duplicated.csv', names=TWSE.DATA_FIELDS, index_col=TWSE.DATA_FIELDS[0:1], parse_dates=TWSE.DATA_FIELDS[0:1])
print(df.tail(8))
df.drop_duplicates(keep='last', inplace=True)
df.to_csv('data_drop_duplicated.csv')
check = pd.read_csv('data_drop_duplicated.csv', index_col=['Date'], parse_dates=['Date'])
check.tail(5)

                Volume          Value   Open   High    Low  Close Change  \
Date
2017-06-26  14,254,481  1,152,368,187  79.80  81.50  79.80  81.40  +1.70
2017-06-27   3,026,202    245,706,817  81.40  81.50  81.00  81.30  -0.10
2017-06-27   3,026,202    245,706,817  81.40  81.50  81.00  81.30  -0.10
2017-06-28   6,286,912    506,227,717  80.90  81.05  80.30  80.55  -0.75
2017-06-28   6,286,912    506,227,717  80.90  81.05  80.30  80.55  -0.75
2017-06-29   1,427,255    115,380,165  81.00  81.05  80.50  80.65  +0.10
2017-06-29   1,427,255    115,380,165  81.00  81.05  80.50  80.65  +0.10
2017-06-30   3,070,653    245,991,027  80.10  80.40  79.80  80.40  -0.25

           Transaction
Date
2017-06-26       2,367
2017-06-27       1,145
2017-06-27       1,145
2017-06-28       2,321
2017-06-28       2,321
2017-06-29         513
2017-06-29         513
2017-06-30         854

,Volume,Value,Open,High,Low,Close,Change,Transaction
Date,,,,,,,,
2017-06-26,"14,254,481","1,152,368,187",79.80,81.50,79.80,81.40,+1.70,"2,367"
2017-06-27,"3,026,202","245,706,817",81.40,81.50,81.00,81.30,-0.10,"1,145"
2017-06-28,"6,286,912","506,227,717",80.90,81.05,80.30,80.55,-0.75,"2,321"
2017-06-29,"1,427,255","115,380,165",81.00,81.05,80.50,80.65,+0.10,513
2017-06-30,"3,070,653","245,991,027",80.10,80.40,79.80,80.40,-0.25,854