In [2]:
import pandas as pd
import os
import sys
sys.path.insert(0, os.path.dirname(os.getcwd()))
from cmds.twse import TWSE

### pd.read_csv on data_wo_header.csv

In [17]:
df = pd.read_csv('data_wo_header.csv', names=TWSE.DATA_FIELDS, index_col=TWSE.DATA_FIELDS[0:1], parse_dates=TWSE.DATA_FIELDS[0:1])
df.head()

,Volume,Value,Open,High,Low,Close,Change,Transaction
Date,,,,,,,,
2017-06-01,"2,221,692","170,334,430",76.50,76.90,76.50,76.90,0.40,782
2017-06-02,"3,540,934","273,287,776",77.30,77.30,77.05,77.20,0.30,733
2017-06-03,"2,052,295","158,709,516",77.25,77.40,77.25,77.40,0.20,541
2017-06-05,"3,281,752","254,540,406",77.35,78.00,77.25,78.00,0.60,849
2017-06-06,"1,203,007","93,684,346",77.95,77.95,77.70,77.95,-0.05,618

### pd.to_csv from data_w_header.csv to copy.csv

In [18]:
df = pd.read_csv('data_w_header.csv', index_col=['Date'], parse_dates=['Date'])
df.to_csv('copy.csv')
with open('copy.csv') as fh:
    print(fh.readline())
    print(fh.readline())
    print(fh.readline())

Date,Volume,Value,Open,High,Low,Close,Change,Transaction

2017-06-01,"2,221,692","170,334,430",76.5,76.9,76.5,76.9,0.4,782

2017-06-02,"3,540,934","273,287,776",77.3,77.3,77.05,77.2,0.3,733

### df.Index.duplicated on data_w_duplicated.csv

In [17]:
df = pd.read_csv('data_w_duplicated.csv', names=TWSE.DATA_FIELDS, index_col=TWSE.DATA_FIELDS[0:1], parse_dates=TWSE.DATA_FIELDS[0:1])
index_duplicated = df.index.duplicated()
print(type(index_duplicated), index_duplicated)

(<type 'numpy.ndarray'>, array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True], dtype=bool))

### drop duplicated on data_w_duplicated.csv and save as data_drop_duplicated.csv

In [21]:
df = pd.read_csv('data_w_duplicated.csv', index_col=['Date'], parse_dates=['Date'])
df_drop = df.reset_index().drop_duplicates('Date', keep='last').set_index('Date')
df_drop.to_csv('data_drop_duplicated.csv')

df_check = pd.read_csv('data_drop_duplicated.csv', index_col=['Date'], parse_dates=['Date'])
df_check.index.duplicated()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False], dtype=bool)

### sort dataframe

### Get Stock DataFrame [date_since, date_last, row_count]

In [ ]:
df = pd.read_csv('data_drop_duplicated.csv', index_col=['Date'], parse_dates=['Date'])